*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color: rgb(212, 159, 228);
}
body{
    font-size: 20px;
}
section, header, footer {
    width: 70%;
    margin: auto;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-pic {
    width: 70px;
    height: 70px;
}
.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.header-title span{
    color: red;
}

nav ul {
    display: flex;
    font-size: 2rem;
    gap: 30px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 10px;
    align-items: center;
    /* height: calc(100vh - 100px); */
    height: 80vh;
    /* border: 1px solid red; */
    /* overflow: hidden; */
}

.hero-text, .hero-img {
    width: 50%;
}
.hero-text h1{
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 5px;
}
.hero-text h2{
    font-size: 2.5rem;    
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 1.5rem;
    border-left: 10px solid rgb(212, 159, 228);
    padding-left: 20px;
    margin-bottom: 10px;
    /* padding-left: 50px; */
}
.social-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* align-items: end; */
}
.social-links a{
    display: block;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    /* height: 40px; */
    border: 1px solid rgb(212, 159, 228);
    /* background-color: rgb(212, 159, 228); */
    box-shadow: 5px 5px 5px rgb(212, 159, 228);
}
a i{
    font-size: 2rem;
}

.hero-img img{
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: auto;
    border: 5px solid rgb(212, 159, 228);
}

#about{
    display: flex;
    gap: 20px;
	/* align-items: center; */
}

.about-text h2{
    font-size: 3rem;
    margin-bottom: 10px;
}
.about-text h3{
    font-size: 2rem;
	margin-bottom: 10px;
}
.about-text p{
	font-size: 1.5rem;
	margin: 10px;
}

