@font-face {
    font-family: raleway;
    src: url("../src/assets/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: poppings;
    src: url("../src/assets/fonts/Poppins-Black.ttf");
}

@font-face {
    font-family: pacifico;
    src: url("../src/assets/fonts/Pacifico-Regular.ttf");
}

@import "tailwindcss";



:root{
    --color-primary: #FF9C1B;
    --color-secondary: #EC1B09;
    --color-accent: #F2F5F9;
}

@theme {
    --font-raleway: raleway, "sans-serif";
    --font-poppings: poppings, "sans-serif";
    --font-pacifico: pacifico, "sans-serif";
    --color-toggle: #EBF2FA;
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-accent: var(--color-accent);
}

body {
    background: var(--color-accent);
}

.logo-span {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}